In [7]:
import pandas as pd
import sklearn
import scipy
import numpy as np
import matplotlib.pyplot as plt
from html_sanitizer import Sanitizer
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GroupKFold
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
import random as rnd
from sklearn.metrics import f1_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from pymystem3 import Mystem
from string import punctuation
from nltk.stem import WordNetLemmatizer
import bs4
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

Идея выделить наибольший кластер, где расстояние наименьшее

In [8]:
data.head()

,Unnamed: 0,information,group,target,doc_id
0,0,ваз 21213 замена подшипник ступица нива \n,1,0,15731
1,1,ваз 2107 опт сочи сравнивать цена купить п...,1,0,14829
2,2,купить ступица лад калина2 трансмиссия пере...,1,0,15764
3,3,классика 21010 21074 \n,1,0,17669
4,4,ступица нива замена подшипник свой рука \n,1,0,14852

In [9]:
data = pd.read_csv("TitlesTrain.csv")
data_1 = pd.read_csv("final_parse.csv")
y_train = np.array(data["target"])
groups_train = np.array(data["group"])
texts = np.array(data["information"])

In [10]:
#data = pd.merge(data, data_1, left_on='doc_id', right_on='doc_id',how="inner")

In [16]:
data.head()

,Unnamed: 0,information,group,target,doc_id
0,0,ваз 21213 замена подшипник ступица нива \n,1,0,15731
1,1,ваз 2107 опт сочи сравнивать цена купить п...,1,0,14829
2,2,купить ступица лад калина2 трансмиссия пере...,1,0,15764
3,3,классика 21010 21074 \n,1,0,17669
4,4,ступица нива замена подшипник свой рука \n,1,0,14852

In [12]:
texts = []
for i in range(data.shape[0]):
    #print(data.iloc[i]["information"],data.iloc[i]["word"])
    texts.append(str(data.iloc[i]["information"]) + " " + str(data.iloc[i]["word"]))

KeyError: 'word'

In [25]:
texts = data["information"]

In [26]:
for i in range(len(texts)):
    if texts[i] is np.nan:
        texts[i] = ""

In [27]:
vect = TfidfVectorizer()
X_train = vect.fit_transform(texts)

In [28]:
X_train.shape

(11690, 15535)

In [32]:
res1 = []
for i in np.unique(groups_train):
    X_ = X_train[groups_train == i]

    clf = DBSCAN(0.495, metric="cosine", min_samples=7)
    res = clf.fit_predict(X_)


    for j in range(len(res)):
        if res[j] == -1:
            res[j] = 0
        else:
            res[j] = 1
        res1.append(res[j])
    print(f1_score(res, y_train[groups_train == i]))
corr = np.corrcoef(y_train, res1)[0,1]
print(corr, f1_score(res1, data["target"]))

0.625
0.0
0.823529411764706
0.0
0.39999999999999997
0.674698795180723
0.0
0.0
0.6976744186046512
0.5333333333333333
0.0
0.0
0.0
0.5384615384615385
0.0
0.0
0.8571428571428572
0.6206896551724138
0.9333333333333333
0.3333333333333333
0.42857142857142855
0.954248366013072
0.6599999999999999
0.7787610619469026
0.9041095890410958
0.9536423841059603
0.0
0.0
0.0
0.0
0.7777777777777777
0.0
0.9101796407185629
0.5961538461538461
0.0
0.6451612903225806
0.42857142857142855
0.3888888888888889
0.8571428571428571
0.0
0.4166666666666667
0.8375
0.0
0.0
0.37037037037037035
0.0
0.0
0.5423728813559323
0.9195402298850573
0.8783783783783784
0.0
0.8613138686131387
0.7777777777777777
0.0
0.0
0.0
0.761904761904762
0.0
0.0
0.9558823529411765
0.8
0.6666666666666666
0.0
0.35714285714285715
0.1290322580645161
0.0
0.7032967032967034
0.4680851063829787
0.6890756302521008
0.27272727272727276
0.49382716049382713
0.0
0.0
0.0
0.0
0.5405405405405405
0.9289617486338797
0.9333333333333333
0.0
0.8148148148148149
0.0
0.6666666666666667
0.1111111111111111
0.5
0.7941176470588236
0.6548672566371682
0.8318584070796461
0.0
0.0
0.4
0.9253731343283583
0.0
0.0
0.0
0.0
0.0
0.6567164179104478
0.0
0.5
0.8769230769230769
0.7272727272727274
0.0
0.0
0.0
0.631578947368421
0.0
0.0
0.0
0.4
0.8258064516129032
0.4848484848484849
0.7000000000000001
0.0
0.0
0.6666666666666667
0.0
0.0
0.7047619047619048
0.8214285714285714
0.8615384615384616
0.9666666666666667
0.0
0.8591549295774648
0.880952380952381
0.0
0.8777777777777779
0.3684210526315789
0.8333333333333333
1.0
0.5927695026991388 0.6989453499520614

In [119]:

EPS = 0.01
ma = 0
sos = 0
eps = 0
for i1 in range(1, 100):
    for j1 in range(2, 30):
        res1 = []
        for i in np.unique(groups_train):
            X_ = X_train[groups_train == i]

            clf = DBSCAN(EPS * i1, metric="cosine", min_samples=j1)
            res = clf.fit_predict(X_)


            for j in range(len(res)):
                if res[j] == -1:
                    res[j] = 0
                else:
                    res[j] = 1
                res1.append(res[j])
        
        corr = np.corrcoef(y_train, res1)[0,1]
        print(corr)
        if corr > ma:
            print(corr)
            ma = corr
            sos = j1
            eps = EPS * i1
    print(i1)

0.005000316256494385
0.005000316256494385
-0.010492546758003922
-0.00939619797059015
nan
nan
nan
nan
nan
nan
nan
nan

KeyboardInterrupt:

In [111]:
print(ma)

0.4327131767598358

In [97]:
np.corrcoef(y_train, res1)

array([[1.        , 0.41152763],
       [0.41152763, 1.        ]])

In [98]:
f1_score(y_train, res1)

0.5925116151954085

In [186]:
with open("DBSCAN_VECTOR.txt","w") as f:
    for i in range(len(res1)):
        print(res1[i], file=f)

In [187]:
all_titles = pd.read_csv("docs_titles.tsv", sep="\t")
test_groups = pd.read_csv("test_groups.csv")

table = pd.merge(test_groups, all_titles, left_on='doc_id', right_on='doc_id',how="left")
table.head()

,pair_id,group_id,doc_id,title
0,11691,130,6710,КАК ПРОПИСАТЬ АДМИНКУ В КС 1.6 СЕБЕ ИЛИ ДРУГУ ...
1,11692,130,4030,Скачать: SGL-RP доработка | Слив мода [MySQL] ...
2,11693,130,5561,Как прописать админку в кс 1.6 - Counter-Strik...
3,11694,130,4055,Как прописать простую админку в кс 1 6
4,11695,130,4247,Подбор админов для сервера по КОД_4 [Архив] -...

In [188]:
test_groups = np.array(test_groups["group_id"])
test_groups

array([130, 130, 130, ..., 309, 309, 309])

In [189]:
texts = table["title"]

texts = np.array(table["title"])
for i in range(len(texts)):
    if texts[i] is np.nan:
        texts[i] = ""

In [190]:
new_texts = []
for i in texts:
    new_texts.append(stemming(i))

In [191]:
table["title"] = new_texts

In [192]:
table.head()

,pair_id,group_id,doc_id,title
0,11691,130,6710,прописывать админка кс 1 6 друг youtube\n
1,11692,130,4030,скачать sgl rp доработка слива мода mysql ...
2,11693,130,5561,прописывать админка кс 1 6 counter strike ...
3,11694,130,4055,прописывать простой админка кс 1 6\n
4,11695,130,4247,подбор админ сервер код 4 архив форум o...

In [193]:
vect = TfidfVectorizer(min_df=5, max_df=0.5)
X_test = vect.fit_transform(new_texts)

In [194]:
res1 = []
for i in np.unique(test_groups):
    X_ = X_test[test_groups == i]
    #print(X_.shape)
    clf = DBSCAN(0.49, metric="cosine", min_samples=7)
    res = clf.fit_predict(X_)
    for i in res:
        if i == -1:
            res1.append(0)
        else:
            res1.append(1)

In [195]:
with open("TEST_DBSCAN_VECTOR.txt","w") as f:
    for i in range(len(res1)):
        print(res1[i], file=f)

In [176]:

res = res1
with open("my_submission_DBSCAN_0_495__7.csv", "w") as f:
    print("pair_id,target", file=f)
    for i in range(len(res)):
        print(table["pair_id"].iloc[i], ",", res[i], file=f, sep="")

In [177]:
res = clf.fit_predict(X_train)

In [178]:
new_texts = []
for i in texts:
    new_texts.append(stemming(i))

In [ ]:
table["title"] = new_texts

In [163]:
mystem = Mystem() 
rus_stopwords = stopwords.words("russian")
eng_stopwords = stopwords.words("english")
html_stopwords = ["span", "br", "a", "href", "img", "www", "com", "google", "ru", "html", "http", "https"]
stemming("Привет, медвед я в доме у  жен")

'привет  медведы   дом   жена\n'

In [164]:
def delete_symbols(text):
    res = ""
    text = text.lower()
    
    for i in text:
        t = i    
        if not(
                (t >= '0' and t <= '9') or 
                (t >= 'a' and t <= 'z') or
                (t >= 'а' and t <= 'я')
              ):
            t = ' '
            
        res += t
        
    return res 


def list2string(myList):  
    myStr = ""  
    
    for word in myList:
        if (word not in rus_stopwords) and (word not in eng_stopwords ) and (word not in html_stopwords):
            myStr += word
    
    return myStr

def stemming(text):
    text = delete_symbols(text)
    
    tokens = mystem.lemmatize(text)
    stri = list2string(tokens)
    #print(stri)
    return stri

In [165]:
table.head()

,pair_id,group_id,doc_id,title
0,11691,130,6710,КАК ПРОПИСАТЬ АДМИНКУ В КС 1.6 СЕБЕ ИЛИ ДРУГУ ...
1,11692,130,4030,Скачать: SGL-RP доработка | Слив мода [MySQL] ...
2,11693,130,5561,Как прописать админку в кс 1.6 - Counter-Strik...
3,11694,130,4055,Как прописать простую админку в кс 1 6
4,11695,130,4247,Подбор админов для сервера по КОД_4 [Архив] -...